
      body{/*Looped BG image*/
        
        background-image: url(WebsiteBG.jpg);
        background-repeat: repeat-y;
        background-size: 100%;
        background-color: white;

      }
      a{ text-decoration: none; font: 100% calibri; color: #EE800B; font-weight: bold}
      h1{ color: white }
      h1:hover{ color: gray;}
      h3{color:black;}
      h3:hover{ color: grey;}
      button{
        background-color: #EE800B;
        color: black;
        font: 200% calibri;
        border-color: white;
        border-radius: 50px 5px 5px 5px;
        background: -moz-linear-gradient(right, #EE800B 0%,#fefefe 90%);
        background: -webkit-linear-gradient(right, #EE800B 0%,#fefefe 90%);
        background: -o-linear-gradient(right, #EE800B 0%,#fefefe 90%);
        background: -ms-linear-gradient(right, #EE800B 0%,#fefefe 90%);
        background: linear-gradient(right, #EE800B 0%,#fefefe 90%);
      }

      
      .topfade
      {/* Navigation line*/
        position: fixed;
        left: 0px;
        top: 0px;
        background: #EE800B;
        background: -moz-linear-gradient(left, #EE800B 0%,#fefefe 90%);
        background: -webkit-linear-gradient(left, #EE800B 0%,#fefefe 90%);
        background: -o-linear-gradient(left, #EE800B 0%,#fefefe 90%);
        background: -ms-linear-gradient(left, #EE800B 0%,#fefefe 90%);
        background: linear-gradient(left, #EE800B 0%,#fefefe 90%);
        padding: 10px;
        font: 100% calibri;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }

      .text
      {
        font: 100% calibri;



      }
      
      .main
      {
        font: 120% calibri;
        padding-left: 2%;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px; 
        
      }

      .block1
      {
        background: none;
        margin-left: 5%;
        margin-right: 5%;
        font: 90% calibri;

      }
      /* Project table CSS */
      .project{
        background: #EE800B;
        background: -moz-linear-gradient(left, #fefefe 0%, #EE800B 90%,#fefefe 100%);
        background: -webkit-linear-gradient(left, #fefefe 0%, #EE800B 90%,#fefefe 100%);
        background: -o-linear-gradient(left, #fefefe 0%, #EE800B 90%,#fefefe 100%);
        background: -ms-linear-gradient(left, #fefefe 0%, #EE800B 90%,#fefefe 100%);
        background: linear-gradient(left, #fefefe 0%, #EE800B 90%,#fefefe 100%);
        align-self: center;

      }

      
      .screenshot:hover{
        width: 70%;
       /* border: 2px;
        border-color: black; */
      }
      .screenshot:active{width: 300px; position: absolute; z-index: 50%}

      /* HR with a fade */
      hr{
        background: #EE800B;
        background: -moz-linear-gradient(left, #fefefe 10%, #EE800B 50%,#fefefe 90%);
        background: -webkit-linear-gradient(left, #fefefe 10%, #EE800B 50%,#fefefe 90%);
        background: -o-linear-gradient(left, #fefefe 10%, #EE800B 50%,#fefefe 90%);
        background: -ms-linear-gradient(left, #fefefe 10%, #EE800B 50%,#fefefe 90%);
        background: linear-gradient(left, #fefefe 10%, #EE800B 50%,#fefefe 90%);
        align-self: center;
        border: none;
        height: 5px;
      }

      .mainphoto{
        background-image: url(FaceLogo.jpg);
        width: 192px;
        height: 256px;
        background-size: 100%;
        border-width: 1px;
        border-color: black;
        border-style: solid;
      }
      
  .topButt {
  position: fixed;
  right: 45px;
  bottom: 45px;

}
  .topButton {
    border: none;
    border-radius: 25px 25px 25px 25px; 
    background: #EE800B; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
 }
 .topButton:hover {
    border-radius: 25px 25px 25px 25px; 
    background: #EE800B;
    border: none;
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
 .linkButt{
  margin-left: 20px;
  width: 150px;
  border-radius: 25px 25px 25px 25px;
 }
 .linkButt:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
 }